html
    head
        title= "MMM " + meme.name
    style
        include style.css
    body
        include topbar
        p="Views:" + views
        div(class = "back-button")
            a(href="/" class="back-button") Back

        include single_meme.pug

        form(action="/meme/" + meme.id method="POST")
            p New price:
            input(type="text" name="price" placeholder="1000")
            input(type="submit" value="Submit")
            input(type="hidden" name="_csrf" value=csrfToken)

        div
            table(cellspacing = "0")
                tr
                    th Past prices
                    th User
                each price in meme_prices
                    tr
                        td
                            span=price[0]
                        td
                            span=price[1]
